/****************** ELEMENTOS COMPARTIDOS ********************/
/* RESETS*/
* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/*PROPIEDADES BODY */
body {
    background-color: #FFEBCD;
}
/* BOTONES */
.buttonform {
  display:flex;
  color: white;
  text-align: center;
  padding: 8px 12px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #3A3030;
  margin:0.5rem;
  justify-content: center;
}
.buttonform:hover {
  background-color: #7431DD;
  text-decoration: none;
  color: white;
}
.button {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 15px 12px;
    margin-top: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #339FDB;
    margin:0.5rem;
}
.button:hover {
    background-color: #7431DD;
    text-decoration: none;
    color: white;
}

.button {
  --y: -25;
  --x: 0;
  --rotation: 0;
  --speed: 2;
  --txt: "¡ CONTÁCTANOS !";
  --padding: 1.5rem 1.25rem;
  margin:2rem;
  cursor: pointer;
  padding: var(--padding);
  color: transparent;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background 0.1s ease;
  background: hsl(var(--hue), 70%, 53%);
  outline-color: hsl(var(--hue), 100%, 80%);
  -webkit-animation-name: flow-and-shake;
          animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
          animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.button:after {
  content: var(--txt);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding);
  color: #fff;
}
.button:hover {
  background: #7431DD;
  --speed: 0.1;
  --rotation: -1;
  --y: -1;
  --x: 1;
  --txt: "¡ CONTÁCTANOS !";
}

.button__wrap {
  position: relative;
}


@-webkit-keyframes flow-and-shake {
  0%, 100% {
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}
@keyframes flow-and-shake {
  0%, 100% {
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}

/*SEPARADORES*/
.separador {
  display:flex;
  height: 12vh;
}
.separadorchico {
  display:flex;
  height: 7vh;
}
/****************** BARRA DE MENU CON RESPONSIVE ********************/
.menu {
  background: #0082e6;
  height: 80px;
  width: 100%;
  position:fixed;
  z-index:10;
}
.menu__titulo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.menu__bar{
  float: right;
  margin-right: 20px;
}
.menu__li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.menu__item {
  color: white;
  font-size: 17px;
  padding: 25px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
.menu__item.active, .menu__item:hover{
  background: #7431DD;
  transition: .2s;
  transition:cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/****************** ELEMENTOS PIE DE PAGINA ********************/
.pie {
  padding:2rem;
  background-color:#3A3030;
  align-content: center;
  color:#FFEBCD;
  text-decoration: none;
  text-align:center;
}
.pie__vinculo {
  color:#FFEBCD;
  text-decoration: none;
  align-content: center;
}

.pie__vinculo:hover{
  color:#dd31dd;
  text-decoration: none;
}

.pie > hr {
height: 2px;
background-color: #FFEBCD;
margin-top: 1rem;
margin-bottom: 1rem;
}

/* ICONOS REDES SOCIALES PIE DE PAGINA */
.icono__vinculo {
font-size: 3rem;
padding:0.2rem;
color: #FFEBCD;
}
.icono__vinculo:hover{
font-size: 3rem;
padding:0.2rem;
color: #dd31dd;
}

/****************** index.html ********************/
/*HERO*/
.main__fondo {
  background-color: #0082e6;
}
.hero {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hero__image {
  background-image: url("../img/fondo3.gif");
  height: 85vh;
  filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__simbols {
  font-size: 8rem;
  text-justify: distribute-all-lines;
  text-indent: 1rem;
}

.hero__content {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: #FFEBCD;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}
/* grid servicios*/
.grid_container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin:1rem;
  background-color: #0082e6;
}

.grid_container2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin:1rem;
  background-color: #0082e6;
}

.grid__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3A3030;
  padding: 1rem;
  color:#FFEBCD;
  text-align: center;
}

.grid__card:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #7431DD;
  padding: 1rem;
  color:#FFEBCD;
}

.grid__imagen1 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_diseno_grafico.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}
.grid__imagen2 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_diseno_web.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}
.grid__imagen3 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_marketing.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}
.grid__imagen4 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_redesign.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}
.grid__imagen5 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_seo.jpg");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}
.grid__imagen6 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_shopping.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size:cover;
}

/*VIDEO YOUTUBE*/
.info__yt {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframeyt {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
}
/*MAPA GOOGLE*/
.info__map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

}

.iframemap {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
}
/****************** proyectos.html ********************/
/*GALERIA DE PROYECTOS CON GRID*/
.proyectos { 
  display: grid;
  background-color: #0082e6;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  margin: 1rem;
}

.proyectos__tarjeta {
  border: 1px solid #339FDB;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.5);
  background-color: #3A3030;
  height:auto;
}
.proyectos__tarjeta:hover {
  border: 2px solid #dd31dd;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.8);
}
.proyectos__imagen {
  display:flex;
  width: 100%;
  justify-content: center;
}
.proyectos__texto {
  background-color: #3A3030;
  margin-top: 1rem;
  display:flex;
  padding: 1rem 20px 20px;
  color:#FFEBCD;
  flex-direction: column;
}
.fondo__proyectos {
  background-color: #0082e6;
}
.proyectos__button {
  color: white;
  text-align: center;
  padding: 10px 12px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #339FDB;
  margin:0.5rem;
  justify-content: center;
}
.proyectos__button:hover {
  background-color: #7431DD;
  text-decoration: none;
  color: white;
}

/****************** blog.html ********************/

.blog__titulo {
  font-size: 2.5rem;
}
.blog__grid {
  display: grid;
  place-items: center;
  height: auto;
  background-color: #0082e6;
}

.blog__imagen--articulo1 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/responsive.jpg");
}

.blog__imagen--articulo2 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/hosting.jfif");
}

.blog__imagen--articulo3 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/redes.jfif");
}

.blog__articulo {
  width: 95%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background: #3A3030;
  color: #FFEBCD;
  padding: 1rem;
}
.blog__articulo {
  text-align: justify;
}
.blog__articulo h2 {
  text-align:center;
}

/****************** servicios.html y nosotros.html ********************/
.general__titulo {
  font-size: 2.5rem;
}
.general__grid {
  display: grid;
  place-items: center;
  height: auto;
  background-color: #0082e6;
}

.general__imagen--articulo1 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/quienessomos.jfif");
}

.general__imagen--articulo2 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/proceso.png");
}

.general__imagen--articulo3 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/proyectos.JPG");
}
.general__imagen--articulo4 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/consultaweb.jpg");
}

.general__imagen--articulo5 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/tecnologias.png");
}

.general__imagen--articulo6 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/equipo.jfif");
}
.general__articulo {
  width: 95%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background: #3A3030;
  color:#FFEBCD;
  padding: 1rem;
  text-align: justify;
}

.general__articulo h2 {
  text-align:center;
}

/*COMPARTIR EN REDES SOCIALES*/

.compartir {
    font-size: 2rem;
    padding:0.2rem;
    color: #FFEBCD;
    text-align: center;
}
.compartir:hover{
    font-size: 2rem;
    padding:0.2rem;
    color: #0082e6;
}

/****************** contacto.html ********************/

.articulo__formulario {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #7431DD;
  padding: 2rem;
  display: flex ;
  flex-direction: column;
  justify-content: center;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-width: 2px;
  border-color: #339FDB;
  color: #7431DD;
  box-shadow: #dd31dd;
  background: #f1f1f1;
  font-size: 1rem;
}
input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-width: 2px;
  border-color: #dd31dd;
  color: #7431DD;
  box-shadow: #dd31dd;
  background: #f1f1f1;
  font-size: 1rem;
}

.articulo__aclaracion {
  margin:1rem;
  text-align: justify;
  font-size: 0.9rem;
  color: #FFEBCD;
}
.formulario__fondo {
  background-color: #0082e6;
}
/*FIN ESTILO FORMULARIO CONTACTO*/


/* MEDIA QUERIES*/
@media (max-width: 1350px){
  .menu__titulo{
    font-size: 1.5rem;
    padding-left: 5px;
    margin-left: 1rem;
  }
  .menu__item{
    color: white;
    font-size: 17px;
    padding: 25px 5px;
    font-size: 0.9rem
  }
  .hero__content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1000px){
  .checkbtn {
    display: block;
  }
  .menu__titulo{
    font-size: 2rem;
    padding-left: 50px;
  }
  .hero__content h2 {
    font-size: 1.5rem;
  }
  .menu__bar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0082e6;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .1s;
  }
  .menu__li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .menu__item {
    font-size: 2rem;
  }
  .menu__item:hover, .menu__item.active{
    background: #7431DD;
    color: #FFEBCD;
    padding-left: 3rem;
    padding-right:3rem;
  }
  #check:checked ~ ul {
    left: 0;
  }

  .hero__simbols {
    font-size: 5rem;
    text-indent: 1rem;
  }
  
  .hero__content {
    font-size: 1rem;
    width: 90%;
    padding: 10px;
    text-align: center;
  }
  .grid_container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin:1rem;
    background-color: #0082e6;
  }
  .grid_container2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin:1rem;
    background-color: #0082e6;
  }
}

@media (max-width: 600px){
  .grid_container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin:1rem;
    background-color: #0082e6;
  }
}

@media (max-width: 450px) {
  .menu__titulo{
    font-size: 1rem;
    padding-left: 5px;
    margin-left: 1rem;
  }

  .hero__simbols {
    font-size: 3rem;
    text-indent: 1rem;
  }
  .menu__item{
    color: white;
    font-size: 1.5rem;
    padding: 10px 2px;
  }
  .hero__content h2 {
    font-size: 1.5rem;
    width: 100%;
  }
  .grid_container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin:1rem;
    background-color: #0082e6;
  }
  .grid_container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin:1rem;
    background-color: #0082e6;
  }
}